<div class="sidebar" data-color="purple" data-background-color="white">
	<div class="sidebar-wrapper ps-container ps-theme-default" id="Navbar">
		<ul class="nav">
			<li class="nav-item"><LinkTo class="nav-link" @route="admin.locations">Locations</LinkTo></li>
			<li class="nav-item"><LinkTo class="nav-link" @route="admin.locations.add">Add a location</LinkTo></li>
		</ul>
	</div>
</div>