<div class="col-sm-3 col-md-2 sidebar flex-shrink-1 bg-info pt-3" id="Navbar">
	<ul class="nav flex-sm-column">
		<li><LinkTo class="nav-link text-light" @route="admin.locations">Locations</LinkTo></li>
		<li><LinkTo class="nav-link text-light" @route="admin.locations.add">Add a location</LinkTo></li>
	</ul>
</div>