
@import "ember-bootstrap/bootstrap";

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "material-dashboard";
@import "loading-spinner.scss";

@import "loading-spinner";
@import "bootstrap-overrides/styles";
@import "locations/styles";

body * {
	transition: all 0.25s ease-out;
}

#siteContentWrapper.wrapper {
	height: auto;
	min-height: 100vh;
	position: relative;
	.container, .container-fluid {
		position: relative;
	}
	.content#mainContent {
		position: relative;
		padding-top: 90px;
		padding-bottom: 48px;
	}
	#getPoppin {
		width: 100%;
		height: calc(100vh - 10px);
		position: absolute;
		overflow: hidden;
		overflow-y: auto;
		top: -30px;
		left: 0;
		border: none;
	}
	#mainSiteFooter {
		width: 100%;
		height: 48px;
		padding: 12px;
		position: absolute;
		bottom: 4px;
		left: 0;
	}
}

#mainNavbarHeader {
	z-index: 100;
	position: fixed;
	top: 0;
	width: 100%;
	@media (min-width: 576px) {
		.navbar .navbar-collapse {
			flex-direction: row-reverse;
		}
	}
}

.badge {
	@include badge-color()
}
