
@import "ember-bootstrap/bootstrap";

@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
@import "material-dashboard";

@import "loading-spinner.scss";

a.logout-button {
	display: block;
	padding: 10px;
	text-align: center;
	background: #AAA;
	color: #FFF;
	font-weight: bold;
}