<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Email Confirmation</h4>
			</div>
			<div class="card-body">
				<h3>{{if this.model.success 'Success! Log in and get Poppin!' 'Oops! Something went wrong. Log in and request a new confirmation link.'}}</h3>
			</div>
		</div>
	</div>
</div>