<header>
	<div class="container-fluid">
		<div class="col-sm-2">
			<h1>Poppin</h1>
		</div>
	</div>
</header>
{{outlet}}
<footer>
	<div class="container-fluid">
		<div class="col">
			<p>&copy; 2020, SPR34D, LLC</p>
		</div>
	</div>
</footer>