<header id="mainNavbarHeader">
	<Admin::NavBar />
</header>
<div id="siteContentWrapper" class="wrapper">
	<div id="mainContent" class="content">
		<div class="container-fluid">
			{{outlet}}				
		</div>
	</div>
	<footer id="mainSiteFooter">
		<div class="">
			<div class="container-fluid">
				<div class="col">
					<p>&copy; 2020, UNKNWN, LLC</p>
				</div>
			</div>
		</div>
	</footer>
</div>